.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.TopContainer {
  display: flex;
  width: 100%;
  justify-content: space-between  ;
  height: 450px;
  margin: 1;
}

.Title {
  font-size: 700%;
  text-align: center;
  font-family: 'Anton', sans-serif;
}
