.App {
  text-align: center;
}
.class{
  
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.TopContainer {
  width: 100%;
  display: flex;
  justify-content: space-between space-around ;
  height: 450px;
  margin: ;
}

.Title {
  font-size: 400%;
  text-align: center;
  margin-top: 40;
  padding-top: 15%;
  justify-content: center;
  font-family: 'Headland One', serif;
}

.img{
  border-radius: 3%;
}


  